.stage-container {
	color: white;
	margin: auto;
	height: 400px;
	width: 900px;
	padding: 10px;
}

#uSouth {
	background-color: blue;
	height: 200px;
	width: 24%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

#Grainger {
	background-color: orange;
	height: 200px;
	width: 24%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

#Chemistry {
	background-color: red;
	height: 200px;
	width: 24%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

#Nancy {
	background-color: purple;
	height: 200px;
	width: 24%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
}

#WID {
	background-color: green;
	height: 200px;
	width: 24%;
	display: inline-block;
	margin-top: 5px;
	text-align: center;
}

.stage:hover {
	opacity: 0.5;
	cursor: pointer; 
}
